<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>База данных компании:</title>
</head>
<body>
<h1 id="Base">База данных компании:</h1>
<hr/>
    <ul>
            <li><h3>Информация о клиентах</h3></li>
            <li><h3>Информация о наших работах</h3></li>
            <li><h3>Услуги</h3></li>
    </ul>
    <hr/>
    <ol>
        <li><h3>Чипи-чапа</h3></li>
        <li><h3>Руви-руви</h3></li>
        <li><h3>Ам-ам-ам</h3></li>
    </ol>
<hr/>
<code>
<s><h2>Олег Монгол<sub>2</sub></h2></s>
</code>
<hr/>
АМАЗОНКА<br> СТАР БОЙ
<hr/>
<a href="https://www.youtube.com/watch?v=uCXwmupsoMY&list=PL0MUAHwery4ot0KmgGxlBSB7rXssLeA6h&index=7" target="_blank">Новый ролик</a>
<button type="reset">ХЕР</button>
<hr/>
<a href="#Base"><img src="C:\Users\zacha\OneDrive\Desktop\чета\images\0002.png" alt="ЧТО-ТО КРУТОЕ" width="200" height="300"/></a>
<hr/>
<input></input>
<button type="button">Поиск</button>
</body>
</html>